<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>ProductlistServlet</servlet-name>
		<servlet-class>servlet.ProductlistServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProductlistServlet</servlet-name>
		<url-pattern>/listProduct</url-pattern>
	</servlet-mapping>
	
	<!-- LoginServlet -->
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>servlet.UserLoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<!-- OrderItemAddServlet -->
	<servlet>
		<servlet-name>OrderItemAddServlet</servlet-name>
		<servlet-class>servlet.OrderItemAddServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OrderItemAddServlet</servlet-name>
		<url-pattern>/addOrderItem</url-pattern>
	</servlet-mapping>
	<!-- OrderItemListServlet -->
	<servlet>
		<servlet-name>OrderItemListServlet</servlet-name>
		<servlet-class>servlet.OrderItemListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OrderItemListServlet</servlet-name>
		<url-pattern>/listOrderItem</url-pattern>
	</servlet-mapping>
	
	<!-- OrderCreatSevlet -->
	<servlet>
		<servlet-name>OrderCreatServlet</servlet-name>
		<servlet-class>servlet.OrderCreatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderCreatServlet</servlet-name>
		<url-pattern>/creatOrder</url-pattern>
	</servlet-mapping>
</web-app>